<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086184516727-58o42rie4bp70me0n4q4mivd39k4s9qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086184516727-58o42rie4bp70me0n4q4mivd39k4s9qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086184516727-id7t4jbbhfsitvdum0c3as8uj6d1i05n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCqzkMnku7hj_dEpE47MxyP0ZLTsT7uQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1086184516727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriel85.valeservicos</string>
	<key>PROJECT_ID</key>
	<string>vale-servicos</string>
	<key>STORAGE_BUCKET</key>
	<string>vale-servicos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086184516727:ios:3326cd8bb1552092006a72</string>
</dict>
</plist>